<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
        xmlns:gap	= "http://phonegap.com/ns/1.0"
        id		= "com.nombreDeEmpresa.nombreDeApp"
        version 	= "1.6.0">

    <name>pruebaPush</name>

    <description>
        Probando Notis
    </description>

    <author href="https://www.facebook.com/josekrlos029"
                email="josekrlos029@gmail.com">
        Juan miguel 
    </author>

    <preference name="phonegap-version" value="3.6.3" />
    <preference name="orientation" value="portrait" />
    
    <gap:plugin name="com.phonegap.plugins.pushplugin" version="2.4.0" />
    <gap:plugin name="org.apache.cordova.device" version="0.2.12" />
   
    <gap:plugin name="org.apache.cordova.dialogs" version="0.2.10" />
    <gap:plugin name="org.apache.cordova.geolocation" version="0.3.10" />
    <gap:plugin name="org.apache.cordova.network-information" version="0.2.12" />    
    
    <gap:plugin name="org.apache.cordova.vibration" version="0.3.11" />
   
</widget>